/*Road Map*/
section.road-map {
  background: #12151c;
}
.map-chart span {
  display: block;
  text-align: center;
}
.map-chart span img {
  width: 215px;
}

.map-chart {
  position: relative;
}
.mapbox-inner h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mapbox-inner p {
  margin-bottom: 10px;
  margin-top: 20px;
}

.mapbox-inner a {
  color: #ae0dfe;
}
.mapbox-1 {
  display: inline-block;
  position: absolute;
  top: 3%;
  left: 135px;
  color: #fff;
  padding: 40px 30px 40px 40px;
  background-size: cover;
  width: 400px;
  height: 150px;
  background: #41394b;
  border-radius: 60px 60px 0 60px;
}
.mapbox-2 {
  display: inline-block;
  position: absolute;
  top: 26%;
  right: 11%;
  color: #fff;
  padding: 40px 30px 40px 40px;
  background: #41394b;
  border-radius: 60px 60px 60px 0px;
  background-size: cover;
  width: 400px;
  height: 150px;
}
.mapbox-3 {
  display: inline-block;
  position: absolute;
  top: 51%;
  left: 8%;
  color: #fff;
  padding: 40px 30px 40px 40px;
  background: #41394b;
  border-radius: 60px 60px 0px 60px;
  background-size: cover;
  width: 400px;
  height: 150px;
}
.mapbox-4 {
  display: inline-block;
  position: absolute;
  top: 76%;
  right: 5%;
  color: #fff;
  padding: 40px 30px 40px 40px;
  background: #41394b;
  border-radius: 60px 60px 60px 0px;
  background-size: cover;
  width: 400px;
  height: 150px;
}
@media (min-width: 767px) and (max-width: 1140px) {
  .mapbox-1,
  .mapbox-2,
  .mapbox-3,
  .mapbox-4 {
    background-size: contain;
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    padding: 14px 27px;
    font-size: 16px;
  }
}
.map-mobile {
  margin-top: 50px;
}
.map-box {
  position: relative;
  width: 100%;
  background: #2b2b2b;
  text-align: center;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  border-radius: 125px;
  padding: 18px 0;
  height: auto;
}
.map-box p {
  margin-bottom: 10px;
  margin-top: 20px;
}
.map-box h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.map-box a {
  color: var(--violet);
}
.map-box-1::after,
.map-box-2::after,
.map-box-3::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 2px;
  height: 24px;
  bottom: -34px;
  left: 50%;
}
