/*Road Map*/
section.road-map {  
  background: #12151c;
  padding: 80px 0;
}
.map-chart span {
  display: block;
  text-align: center;
}
.map-chart span img {
  width: 215px;
}

.map-chart {
  position: relative;
}
.mapbox-inner h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mapbox-inner p {
  margin-bottom: 10px;
  margin-top: 20px;
}

.mapbox-inner a {
  color: #0deefe;
}
/* .roadmap-point3 {
  position: absolute;
  top: -10px;
  right: 1px;
} */
.mapbox-1 {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: -30px;
  color: #fff;
  padding: 30px 30px 30px 30px;
  background-size: cover;
  width: 550px;
  height:305px;
  background: #41394b;
  border-radius: 30px 30px 0px 30px;
}
.mapbox-2 {
  display: inline-block;
  position: absolute;
  top: 13%;
  right: -1.5%;
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 30px 0px;
  background-size: cover;
  width: 550px;
  height: 210px;
}
.mapbox-3 {
  display: inline-block;
  position: absolute;
  top: 27%;
  left: -43px;  
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 0px 30px;
  background-size: cover;
  width: 550px;
  height: 250px;
}
.mapbox-4 {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: -7.5%;
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 30px 0px;
  background-size: cover;
  width: 550px;
  height: 190px;
}
.mapbox-5 {
  display: inline-block;
  position: absolute;
  top: 53%;
  left: -69px;  
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 0px 30px;
  background-size: cover;
  width: 550px;
  height: 240px;
}
.mapbox-6 {
  display: inline-block;
  position: absolute;
  top: 64%;
  right: -4%;
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 30px 0px;
  background-size: cover;
  width: 550px;
  height: 190px;
}
.mapbox-7 {
  display: inline-block;
  position: absolute;
  top: 79%;
  left: -5px;  
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 0px 30px;
  background-size: cover;
  width: 550px;
  height: 170px;
}
.mapbox-8 {
  display: inline-block;
  position: absolute;
  top: 88%;
  right: -2.5%;
  color: #fff;
  padding: 30px 30px 30px 30px;
  background: #41394b;
  border-radius: 30px 30px 30px 0px;
  background-size: cover;
  width: 550px;
  height: 210px;
}

@media (min-width: 767px) and (max-width: 1140px) {
  .mapbox-1,
  .mapbox-2,
  .mapbox-3,
  .mapbox-4,
  .mapbox-5,
  .mapbox-6,
  .mapbox-7,
  .mapbox-8
   { 
    background-size: contain;
    background: #41394b;
    width: 350px;
    height: 150px;
    background-repeat: no-repeat;
    padding: 14px 27px;
    font-size: 16px;
  }
}
.map-mobile {
  margin-top: 50px;
}
.map-box {
  position: relative;
  width: 100%;
  background: #41394b;
  /* text-align: center; */
  left: 0;
  right: 0;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 15px 10px;
  height: auto;
}
.map-box p {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 15px;
}
.map-box li {
  font-size: 15px;
}
.map-box h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.map-box a {
  color: #0deefe;
  /* color: var(--violet); */
}
.map-box-1::after,
.map-box-2::after,
.map-box-3::after,
.map-box-4::after,
.map-box-5::after,
.map-box-6::after,
.map-box-7::after { 
  content: "";
  position: absolute;
  background: #fff;
  width: 2px;
  height: 24px;
  bottom: -34px;
  left: 50%;
}
