.faq {
  margin-top: 50px;
}
#faq {
  padding: 80px 0;
}
.faq-Section-main-wrapper{
  width: 100%;
/*   margin-top: 70px; */
  margin-bottom: 20px;
/*   padding: 80px 0; */
}

.faqsection-inner-wrapper{
  width: 75%;
  margin: auto;
}

/* .faq-title{ 
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  font-family: "Roboto", sans-serif;
} */

.question-wrapper{
  display: flex;  
  align-items: center;
  cursor: pointer;

}
.qwrapper {
  position: relative;
  font-size: 16px;
  color: #ccc;
  margin-bottom: 25px;
  background: #41394b;
  padding: 15px;
  border-radius: 55px;
  padding-left: 30px;
 
}
.question-wrapper h2{
  font-size: 26px;
  color: #CCC;
  font-family: "Roboto", sans-serif;
  font-weight: 540;
  margin-left: 20px;
  margin-top: 10px;
}
.question-wrapper img{
  margin-top: 5px !important;
} 
 
.faq-answer{
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 95%;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .faqsection-inner-wrapper{
    width: 90%;
    margin: auto;
  }  
  .faq-answer{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  } 
  .qwrapper a{
  color: blue;  
  }
  .question-wrapper h2{
    font-size: 16px;
  }
  .faq-Section-main-wrapper{
    padding-top: 30px;
  }
}
